/*
Theme Name: Mashal law
Theme URI: 
Author: Underscores.me
Author URI: 
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: 
Text Domain: mashal-law
Tags:

*/
/* =Theme customization starts here
--------------------------------------------------------------
*/
/* Custom Theme Variables initiation*/
/* Transfered from Bootstrap*/
/* Base line Bootstap Framefork with selected elements only : Grid , Responsive utilities */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Alef', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #000000;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #ffffff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1020px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1020px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #000000;
}
.thumbnail .caption {
  padding: 9px;
  color: #000000;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1020px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1020px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 1020px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 1020px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1020px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* Boostrap Ends*/
/**/
/**/
@font-face {
  font-family: "Alef";
  src: url("../fonts/Alef-Regular.eot");
  src: url("../fonts/Alef-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Alef-Regular.woff") format("woff"), url("../fonts/Alef-Regular.ttf") format("truetype"), url("../fonts/Alef-Regular.svg#Alef") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*div {
    border: 1px dotted #ccc;
}*/
body {
  font-family: 'Alef', Arial, sans-serif;
  direction: rtl;
  text-align: right;
}
body input {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 0 4px;
  color: #898989;
}
body a,
body a:hover,
body a:visited,
body a:active {
  text-decoration: none;
  cursor: pointer !important;
  color: #668ebc;
}
body button,
body input[type="submit"] {
  border: none;
  height: 30px;
  width: 90px;
  background-color: transparent;
  font-size: 1em;
  margin: 0 1em;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button:hover,
body input[type="submit"]:hover {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button.active,
body input[type="submit"].active {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button:hover,
body input[type="submit"]:hover,
body button.active,
body input[type="submit"].active {
  text-shadow: none;
}
body input,
body button,
body textarea {
  outline: none;
}
body ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px 0 0;
}
body ul:after {
  clear: both;
}
body ul li {
  list-style-type: none;
}
body h1 {
  font-size: 2em;
}
body h2 {
  font-size: 1.467em;
}
body h3 {
  font-size: 1.2em;
}
body h4 {
  font-size: 1.067em;
}
body h5 {
  font-size: 15px;
}
body h6 {
  font-size: 0.8em;
}
.site-header {
  position: relative;
}
header {
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #b3b3b3;
}
footer {
  min-height: 175px;
  background-color: #40444c;
}
.logo-wrapper {
  padding: 10px 0;
}
.logo-wrapper .logo {
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 10px;
}
.logo-wrapper .site-branding {
  float: right;
}
.logo-wrapper .site-branding h1 {
  font-size: 20px;
  margin: 8px 0 0 0;
}
.logo-wrapper .site-branding h1 a,
.logo-wrapper .site-branding h1:hover,
.logo-wrapper .site-branding h1:visited {
  color: #40444c;
}
.logo-wrapper .site-branding h2 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
.top-nav #site-navigation .menu-main-menu-container ul {
  height: 90px;
  overflow: hidden;
}
.top-nav #site-navigation .menu-main-menu-container ul li {
  float: right;
  height: 90px;
  line-height: 90px;
  padding: 0 10px;
  margin: 0 1px;
}
.top-nav #site-navigation .menu-main-menu-container ul li:hover,
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item {
  background-color: #e8e8e8;
}
.top-nav #site-navigation .menu-main-menu-container ul li:hover {
  border-bottom: 5px solid #668ebc;
}
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item,
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item:hover {
  border-bottom: 5px solid #636363;
}
.top-nav #site-navigation .menu-main-menu-container ul li a {
  color: #000000;
  text-decoration: none;
}
.top-nav #site-navigation .menu-main-menu-container ul li:after {
  clear: both;
}
.top-nav #site-navigation .menu-toggle {
  position: absolute;
  left: 0px;
  top: 20px;
  /* border: 1px solid red; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background: #000;
  color: #fff;
}
/* theme elements*/
/*news strip*/
.news-strip {
  min-height: 52px;
  line-height: 52px;
  background-color: #fcfaf7;
  clear: both;
}
.news-strip.home {
  background-color: #fcfaf7;
}
.news-strip.home button {
  background-color: #fbd639;
}
.news-strip.home button:hover {
  background-color: #fbdd50;
}
.news-strip.home button:active {
  background-color: #d0b230;
}
.news-strip.buy button {
  background-color: #44a5b7;
}
.news-strip.buy button:hover {
  background-color: #5eb4c3;
}
.news-strip.buy button:active {
  background-color: #378998;
}
.news-strip .element-content {
  margin: auto;
}
.news-strip .form-text-element-wrapper {
  float: right;
  width: 230px;
}
.news-strip .form-input-wrapper {
  float: right;
  width: 170px;
}
.news-strip .form-input-wrapper input {
  width: 100%;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}
.news-strip button {
  background-color: #fbd639;
}
.news-strip button:hover {
  background-color: #fbdd50;
}
.news-strip button:active {
  background-color: #d0b230;
}
.news-strip:after {
  clear: both;
}
/* Form Strip*/
.form-strip {
  min-height: 80px;
  line-height: 80px;
  background-color: #668ebc;
}
.form-strip .element-content {
  width: 925px;
  margin: auto;
}
.form-strip .form-text-element-wrapper {
  float: right;
  width: 200px;
  line-height: 22px;
}
.form-strip .form-text-element-wrapper h2 {
  font-size: 22px;
  margin: 0;
  padding: 20px 0 0 0;
  color: #ffffff;
}
.form-strip .form-input-wrapper {
  float: right;
}
.form-strip .form-input-wrapper input {
  width: 140px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: 0 10px;
  border: 1px solid #959595;
}
.form-strip button,
.form-strip input[type="submit"] {
  width: 110px;
  height: 32px;
  background-color: #fbd639;
}
.form-strip button:hover,
.form-strip input[type="submit"]:hover {
  background-color: #fbdd50;
}
.form-strip button:active,
.form-strip input[type="submit"]:active {
  background-color: #d0b230;
}
.form-strip:after {
  clear: both;
}
/* top-hero*/
.top-hero {
  min-height: 365px;
  background-color: #668ebc;
}
.top-hero .element-content {
  padding: 60px 0;
}
.top-hero .hero-img {
  float: left;
}
.top-hero .hero-text p {
  font-size: 1.2em;
}
.top-hero a.readmore-link {
  color: #ffffff;
  text-decoration: underline;
}
.top-hero.home {
  background-color: #668ebc;
}
.top-hero.buy {
  background-color: #44a5b7;
}
.top-hero h2 {
  font-size: 2em;
  color: #ffffff;
}
/*small-heroes*/
.small-heroes {
  min-height: 450px;
  background-color: #ffffff;
}
.small-heroes .element-content {
  padding: 40px 0;
}
.small-heroes .s-hero-text {
  height: 210px;
  overflow: hidden;
}
.small-heroes .s-hero-img,
.small-heroes .s-hero-text {
  text-align: center;
}
.small-heroes .s_hero hr {
  width: 132px;
  background-color: #000;
  margin: 15px auto;
}
.small-heroes .s_hero a.readmore-link {
  background-color: #668ebc;
  margin: 20px auto;
  padding: 5px 25px;
  text-align: center;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 5px;
  width: 140px;
  min-width: 140px;
  max-width: 180px;
  display: block;
}
.small-heroes .s_hero a.readmore-link:hover {
  background-color: #89a9ce;
}
.small-heroes .s_hero a.readmore-link:active {
  background-color: #55769c;
}
.small-heroes h2,
.small-heroes h3 {
  color: #666666;
  margin: 10px;
  padding: 0;
  line-height: 1.1em;
}
.small-heroes h3 {
  font-size: 1.467em;
  font-weight: normal;
}
/*Home page - About Content*/
.about-content .element-content {
  padding: 30px 0;
}
.about-content .hm-about-img {
  width: 220px;
  height: 220px;
  background-color: #b3b3b3;
  margin-top: 20px;
  margin: 50px auto;
  overflow: hidden;
}
.home-section.about-content {
  min-height: 270px;
  background-color: #fcfaf7;
}
.home-section.about-content h3 {
  font-size: 2em;
}
.testimonials-content .element-content {
  padding: 20px 0;
}
.testimonials-content h3 {
  font-size: 1.467em;
  color: #666666;
  font-weight: normal;
  font-style: italic;
}
.testimonials-content .testimonial-credit {
  font-weight: bold;
}
.testimonials-content .testimonials-section-permalink,
.testimonial-item-permalink {
  text-align: left;
  color: #668ebc;
  font-weight: bold;
}
.testimonial-item {
  margin: 0;
  padding: 20px 0 30px 0;
}
.testimonial-item:nth-child(odd) {
  background-color: #fcfaf7;
}
.testimonial-item:nth-child(even) {
  background-color: #ffffff;
}
.testi-img-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 2px solid #668ebc;
  border-radius: 50%;
}
.home-section.testimonials-content {
  min-height: 170px;
  background-color: #ffffff;
}
/*page specific elements changes*/
.home-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.home-page .news-strip button {
  background-color: #fbd639;
}
.home-page .news-strip button:hover {
  background-color: #fbdd50;
}
.home-page .news-strip button:active {
  background-color: #d0b230;
}
.home-page .form-strip {
  background-color: #668ebc;
}
.home-page .top-hero {
  background-color: #668ebc;
}
.buy-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.buy-page .news-strip button {
  background-color: #44a5b7;
}
.buy-page .news-strip button:hover {
  background-color: #5eb4c3;
}
.buy-page .news-strip button:active {
  background-color: #378998;
}
.buy-page .form-strip {
  background-color: #44a5b7;
}
.buy-page .form-strip button,
.buy-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.buy-page .form-strip button:hover,
.buy-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.buy-page .form-strip button:active,
.buy-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.buy-page .top-hero {
  background-color: #44a5b7;
}
.sell-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.sell-page .news-strip button {
  background-color: #d74c45;
}
.sell-page .news-strip button:hover {
  background-color: #dd6b66;
}
.sell-page .news-strip button:active {
  background-color: #b33f3a;
}
.sell-page .form-strip {
  background-color: #d74c45;
}
.sell-page .form-strip button,
.sell-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.sell-page .form-strip button:hover,
.sell-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.sell-page .form-strip button:active,
.sell-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.sell-page .top-hero {
  background-color: #d74c45;
}
.rent-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.rent-page .news-strip button {
  background-color: #7ccc72;
}
.rent-page .news-strip button:hover {
  background-color: #91d589;
}
.rent-page .news-strip button:active {
  background-color: #67aa5f;
}
.rent-page .form-strip {
  background-color: #7ccc72;
}
.rent-page .form-strip button,
.rent-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.rent-page .form-strip button:hover,
.rent-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.rent-page .form-strip button:active,
.rent-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.rent-page .top-hero {
  background-color: #7ccc72;
}
.testimonials-page,
.contact-page,
.about-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.testimonials-page .news-strip,
.contact-page .news-strip,
.about-page .news-strip {
  background-color: #668ebc;
}
.testimonials-page .news-strip button,
.contact-page .news-strip button,
.about-page .news-strip button {
  background-color: #fbd639;
}
.testimonials-page .news-strip button:hover,
.contact-page .news-strip button:hover,
.about-page .news-strip button:hover {
  background-color: #fbdd50;
}
.testimonials-page .news-strip button:active,
.contact-page .news-strip button:active,
.about-page .news-strip button:active {
  background-color: #d0b230;
}
.testimonials-page .form-strip,
.contact-page .form-strip,
.about-page .form-strip {
  background-color: #668ebc;
}
.testimonials-page .top-hero,
.contact-page .top-hero,
.about-page .top-hero {
  background-color: #668ebc;
}
.short-side-content-text {
  font-size: 1.2em;
  color: #7d7d7d;
}
.page-section.related-articles {
  background-color: #fcfaf7;
}
.related-content:nth-child(odd) {
  margin: 0 2.08333333%;
}
.related-content:nth-child(even) {
  margin: 0 8.33333333%;
}
.related-img img {
  width: 100%;
  height: auto;
}
.related-content h3 {
  font-size: 15px;
}
.contact-content .article-text {
  padding: 0 0 20px 0;
}
.contact-page .contact-form-element {
  padding: 40px 0;
  background-color: #fcfaf7;
}
.contact-page .contact-form-element .input-wrapper {
  margin: 0 0 20px 0;
}
.contact-page .contact-form-element label,
.contact-page .contact-form-element input,
.contact-page .contact-form-element textarea {
  display: block;
  width: 100%;
}
.contact-page .contact-form-element label {
  margin: 5px 0;
}
.contact-page .contact-form-element input,
.contact-page .contact-form-element textarea {
  border: 1px solid #959595;
}
.contact-page .contact-form-element input {
  height: 32px;
  line-height: 32px;
}
.contact-page .contact-form-element textarea {
  height: 190px;
  min-height: 190px;
  padding: 10px;
  resize: vertical;
}
.contact-page .contact-form-element button,
.contact-page .contact-form-element input[type="submit"] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #fbd639;
  border: none;
  margin: 0;
  padding: 0;
}
.contact-page .contact-form-element button:hover,
.contact-page .contact-form-element input[type="submit"]:hover {
  background-color: #fbdd50;
}
.contact-page .contact-form-element button:active,
.contact-page .contact-form-element input[type="submit"]:active {
  background-color: #d0b230;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    border: 5px solid green;
  }
  .top-nav {
    width: 100%;
    float: none;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul {
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li {
    float: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 1px;
    display: block;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item {
    background-color: #e8e8e8;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover {
    border-bottom: 5px solid #668ebc;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item:hover {
    border-bottom: 5px solid #636363;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li a {
    color: #000000;
    text-decoration: none;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:after {
    clear: both;
  }
  .news-strip .element-content {
    padding-bottom: 10px;
  }
  .news-strip .form-text-element-wrapper {
    float: none;
    display: block;
    width: 100% !important;
  }
  .news-strip .element-content .news-strip button {
    float: right;
    margin-top: 12px;
  }
  .news-strip .form-input-wrapper {
    width: 100%;
  }
  .form-strip .element-content {
    width: 100%;
    margin: auto;
  }
  .form-strip .form-text-element-wrapper {
    float: none;
    width: 100%;
  }
  .form-strip .form-input-wrapper {
    float: none;
    line-height: 60px;
  }
  .form-strip .form-input-wrapper label {
    display: block;
    width: 100px;
  }
  .form-strip .form-input-wrapper input {
    width: 100%;
  }
  .top-hero .hero-img {
    float: none;
    text-align: center;
  }
  .top-hero .hero-text {
    float: none;
  }
  .related-content:nth-child(odd) {
    margin: 0;
  }
  .related-content:nth-child(even) {
    margin: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1019px) {
  body {
    border: 5px solid blue;
  }
  .top-nav {
    width: 100%;
  }
  .form-strip .element-content {
    width: 100%;
    margin: auto;
  }
  .form-strip .form-text-element-wrapper {
    float: none;
    width: 100%;
  }
  .form-strip .form-input-wrapper {
    float: none;
    line-height: 60px;
  }
  .form-strip .form-input-wrapper label {
    display: inline;
    zoom: 1;
    display: inline-block;
    width: 60px;
  }
  .form-strip .form-input-wrapper input {
    width: 620px;
    width: calc(80%);
  }
  .form-strip button {
    width: 90%;
    margin: auto;
  }
  .top-hero .hero-img {
    float: none;
    text-align: center;
  }
  .top-hero .hero-text {
    float: none;
  }
  .related-content:nth-child(odd) {
    margin: 0;
  }
  .related-content:nth-child(even) {
    margin: 0;
  }
}
/* Medium devices (desktops, 1020px and up) */
@media (min-width: 1020px) {
  body {
    border: 5px solid red;
  }
  .news-strip .element-content {
    width: 530px;
    margin: auto;
  }
  .news-strip button {
    float: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    border: 5px solid black;
  }
  .logo {
    width: 240px;
  }
  .top-nav {
    width: 670px;
  }
  .news-strip .element-content {
    width: 530px;
    margin: auto;
  }
  .news-strip button {
    float: none;
  }
}
