/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        //border: 5px solid green;
    }
    // top nav

    .top-nav {
        width: 100%;
        float: none;
        padding: 0;

        #site-navigation.toggled {
            .menu-main-menu-container {
                margin-top: 10px;

                ul {
                    height: auto;
                    overflow: hidden;
                    background: @white;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: 0px;
                    width: 100%;
                    z-index: 999;

                    li {
                        float: none;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 10px;
                        margin: 0 1px;
                        display: block;

                        &:hover, &.current_page_item, &.current-menu-item {
                            background-color: @top-menu-bg-color;
                        }

                        &:hover {
                            border-bottom: @top-menu-li-border-hover;
                        }

                        &.current_page_item, &.current_page_item:hover, &.current-menu-item, &.current-menu-item:hover {
                            border-bottom: @top-menu-li-border-active;
                        }

                        a {
                            .top-menu-link-set();
                        }

                        &:after {
                            clear: both;
                        }
                    }
                }
            }
        }
    }

    /*toggle*/
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }

    .news-strip .element-content {
        padding-bottom: 10px;
        line-height: 32px;
    }

    .news-strip .form-text-element-wrapper {
        float: none;
        display: block;
        width: 100% !important;
    }

    .news-strip button,
    .news-strip input[type="submit"] {
        width: 100%;
        display: block;
        margin: auto;
    }

    .news-strip .form-input-wrapper {
        width: 100%;
    }

    .news-strip .form-input-wrapper input {
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        width: 100%;
        margin: 10px auto;
    }

    .form-strip .element-content {
        width: 100%;
        margin: auto;
    }

    .form-strip .form-text-element-wrapper {
        float: none;
        width: 100%;
    }

    .form-strip .form-input-wrapper {
        float: none;
        line-height: 35px;

        label {
            display: block;
            width: 100%;
        }

        input {
            width: 100%;
            display: block;
            margin: auto;
        }
    }

    .form-strip button,
    .form-strip input[type="submit"] {
        width: 100%;
        margin: auto;
    }

    //top-hero
    .top-hero .hero-img {
        float: none;
        text-align: center;
    }

    .top-hero .hero-text {
        float: none;
    }
    //Smal heroes
    .small-heroes .s-hero-text {
        height: auto;
    }

    .small-heroes .s_hero a.readmore-link {
        margin-bottom: 60px;
    }

    //related articles margin
    .related-content:nth-child(odd) {
        margin: 0;
    }

    .related-content:nth-child(even) {
        margin: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width:@screen-sm-max) {
    body {
        // border: 5px solid blue;
    }
    // top nav
    .top-nav {
        width: 100%;
        float: none;
        padding: 0;

        #site-navigation.toggled {
            .menu-main-menu-container {
                margin-top: 10px;

                ul {
                    height: auto;
                    overflow: hidden;
                    background: @white;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: 0px;
                    width: 100%;
                    z-index: 999;

                    li {
                        float: none;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 10px;
                        margin: 0 1px;
                        display: block;

                        &:hover, &.current_page_item, &.current-menu-item {
                            background-color: @top-menu-bg-color;
                        }

                        &:hover {
                            border-bottom: @top-menu-li-border-hover;
                        }

                        &.current_page_item, &.current_page_item:hover, &.current-menu-item, &.current-menu-item:hover {
                            border-bottom: @top-menu-li-border-active;
                        }

                        a {
                            .top-menu-link-set();
                        }

                        &:after {
                            clear: both;
                        }
                    }
                }
            }
        }
    }

    .form-strip .element-content {
        width: 100%;
        margin: auto;
    }

    .form-strip .form-text-element-wrapper {
        float: none;
        width: 100%;
    }

    .form-strip .form-input-wrapper {
        float: none;
        line-height: 40px;

        label {
            display: inline;
            zoom: 1;
            display: inline-block;
            width: 100%;
        }

        input {
            width: 100%;
            display: block;
            margin: auto;
        }
    }

    .form-strip button {
        width: 100%;
        display: block;
        margin: auto;
    }

    .form-strip input[type="submit"] {
        width: 100%;
        margin: auto;
    }
    //top-hero
    .top-hero .hero-img {
        float: none;
        text-align: center;
    }

    .top-hero .hero-text {
        float: none;
    }

    //Smal heroes
    .small-heroes .s-hero-text {
        height: auto;
    }

    .small-heroes .s_hero a.readmore-link {
        margin-bottom: 60px;
    }

    // Related-articles section
    .page-section.related-articles {
        background-color: @related-articles-bg-color;
    }

    .related-content:nth-child(odd) {
        margin: 0 percentage((0.25 / @grid-columns));
    }

    .related-img {
        width: 200px;
        margin: auto;
        height: 120px;
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    /*toggle*/
    .menu-toggle,
    .main-navigation.toggled .nav-menu {
        display: block;
    }

    .main-navigation ul {
        display: none;
    }
}

/* Medium devices (desktops, 1020px and up) */
@media (min-width: @screen-md-min) {
    body {
        //  border: 5px solid red;
    }

    .news-strip .element-content {
        width: 530px;
        margin: auto;
    }

    .news-strip button {
        float: none;
    }

    .related-img {
        width: 200px;
        margin: auto;
        height: 120px;
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .copyright {
        margin: 30px 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    body {
        // border: 5px solid black;
    }

    .logo {
        width: 240px;
    }

    .top-nav {
        width: 680px;
    }

    .news-strip .element-content {
        width: 530px;
        margin: auto;
    }

    .news-strip button {
        float: none;
    }

    .related-img {
        width: 200px;
        margin: auto;
        height: 120px;
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}
