/* Extra small devices (phones, less than 768px) */
@media (max-width: @screen-xs-max) {
    body {
        border: 5px solid green;
    }
    // top nav

    .top-nav {
        width: 100%;
        float: none;

        #site-navigation.toggled {
            .menu-main-menu-container ul {
                height: auto;
                overflow: hidden;
                background: @white;
                margin: 0;
                padding: 0;

                li {
                    float: none;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                    margin: 0 1px;
                    display: block;

                    &:hover, &.current_page_item {
                        background-color: @top-menu-bg-color;
                    }

                    &:hover {
                        border-bottom: @top-menu-li-border-hover;
                    }

                    &.current_page_item, &.current_page_item:hover {
                        border-bottom: @top-menu-li-border-active;
                    }

                    a {
                        .top-menu-link-set();
                    }

                    &:after {
                        clear: both;
                    }
                }
            }
        }
    }

    .news-strip .element-content {
        padding-bottom: 10px;
    }

    .news-strip .form-text-element-wrapper {
        float: none;
        display: block;
        width: 100% !important;
    }

    .news-strip .element-content .news-strip button {
        float: right;
        margin-top: 12px;
    }

    .news-strip .form-input-wrapper {
        width: 100%;
    }

    .form-strip .element-content {
        width: 100%;
        margin: auto;
    }

    .form-strip .form-text-element-wrapper {
        float: none;
        width: 100%;
    }

    .form-strip .form-input-wrapper {
        float: none;
        line-height: 60px;

        label {
            display: block;
            width: 100px;
        }

        input {
            width: 100%;
        }
    }
    //top-hero
    .top-hero .hero-img {
        float: none;
        text-align: center;
    }

    .top-hero .hero-text {
        float: none;
    }
    //related articles margin
    .related-content:nth-child(odd) {
        margin: 0;
    }

    .related-content:nth-child(even) {
        margin: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width:@screen-sm-max) {
    body {
        border: 5px solid blue;
    }
    // top nav
    .top-nav {
        width: 100%;
    }

    .form-strip .element-content {
        width: 100%;
        margin: auto;
    }

    .form-strip .form-text-element-wrapper {
        float: none;
        width: 100%;
    }

    .form-strip .form-input-wrapper {
        float: none;
        line-height: 60px;

        label {
            display: inline;
            zoom: 1;
            display: inline-block;
            width: 60px;
        }

        input {
            width: 620px;
            width: calc(100% - 20em);
        }
    }

    .form-strip button {
        width: 90%;
        margin: auto;
    }
    //top-hero
    .top-hero .hero-img {
        float: none;
        text-align: center;
    }

    .top-hero .hero-text {
        float: none;
    }
    //related articles margin
    .related-content:nth-child(odd) {
        margin: 0;
    }

    .related-content:nth-child(even) {
        margin: 0;
    }
}

/* Medium devices (desktops, 1020px and up) */
@media (min-width: @screen-md-min) {
    body {
        border: 5px solid red;
    }

    .news-strip .element-content {
        width: 530px;
        margin: auto;
    }

    .news-strip button {
        float: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    body {
        border: 5px solid black;
    }

    .logo {
        width: 240px;
    }

    .top-nav {
        width: 670px;
    }

    .news-strip .element-content {
        width: 530px;
        margin: auto;
    }

    .news-strip button {
        float: none;
    }
}
