//Mixins - Custom Mashal Law
// --------------------------
//** General
.box-sizing(@type: border-box) {
    -moz-box-sizing: @type;
    --webkit-box-sizing: @type;
    box-sizing: @type;
}

.font-face(@fontname, @fontfile, @fontweight: normal, @fontstyle: normal) {
    font-family: "@{fontname}";
    src: url("../fonts/@{fontfile}.eot");
    src: url("../fonts/@{fontfile}.eot?#iefix") format("embedded-opentype"), url("../fonts/@{fontfile}.woff") format("woff"), url("../fonts/@{fontfile}.ttf") format("truetype"), url("../fonts/@{fontfile}.svg#@{fontname}") format("svg");
    font-weight: @fontweight;
    font-style: @fontstyle;
}

.font-bold(@font-family, @fontweight: bold) {
    font-family: @font-family-sans-serif-bold;
    font-weight: @fontweight;
}

.font-set( @font-size, @line-height, @font-color) {
    font-size: @font-size;
    line-height: @line-height;
    color: @font-color;
}

//** Menus

.menu-link-set( @menu-link-color, @menu-link-decoration) {
    color: @menu-link-color;
    text-decoration: @menu-link-decoration;
}

.top-menu-link-set() {
    color: @top-menu-link-color;
    text-decoration: @top-menu-link-decoration;
}
