// Legacy media settings

.site {
  &:before {
    @media (min-width: 1008px) {
      width: 0px;
    }
  }
}

.site-content {
  @media (min-width: 673px) {
    margin-left: auto;
  }
  
}

.heros-main-container {
  .heroes-container {
    @media (max-width: 575px) {
      display: block;
    }
  }
}