﻿@font-face {
    .font-face(Alef, Alef-Regular, normal, normal)
}

//Custom Reset

/*div {
    border: 1px dotted #ccc;
}*/

body {
    font-family: @font-family-base;
    direction: rtl;
    text-align: right;

    input {
        border: @input-border;
        border-radius: @input-border-radius;
        padding: 0 4px;
        color: @gray5;
    }

    a, a:hover, a:visited, a:active {
        text-decoration: none;
        cursor: pointer !important;
        color:@base-link-color;
    }

    button, input[type="submit"] {
        border: none;
        height: 30px;
        width: 90px;
        background-color: transparent;
        font-size: 1em;
        margin: 0 1em;
        vertical-align: middle;
        text-shadow: none;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);

        &:hover {
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
        }

        &.active {
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
        }

        &:hover, &.active {
            text-shadow: none;
        }
    }

    input, button, textarea {
        outline: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 30px 0 0;

        &:after {
            clear: both;
        }

        li {
            list-style-type: none;
        }
    }
    h1{ font-size:  @font-size-h1;}
    h2{ font-size:@font-size-h2;}
    h3{ font-size:@font-size-h3;}
    h4{ font-size:@font-size-h4;}
    h5{ font-size:@font-size-h5;}
    h6{ font-size:@font-size-h6;}
}

.font-set( @font-size-base, @font-set1-line, @base-color) {
}

//elements
.site-header {
    position: relative;
}

header {
    height: @header-height;
    background-color: @header-bg-color;
    border-bottom: @header-border;
}

footer {
    min-height: @gooter-min-height;
    background-color: @footer-bg-color;
}

.logo-wrapper {
    padding: 10px 0;

    .logo {
        float: right;
        width: @logo-width;
        height: @logo-height;
        overflow: hidden;
        margin: 10px;
    }

    .site-branding {
        float: right;

        h1 {
            font-size: 20px;
            margin: 8px 0 0 0;

            a, &:hover, &:visited {
                color: @logo-title-h1-color;
            }
        }

        h2 {
            font-size: 16px;
            margin: 0;
            font-weight: normal;
        }
    }
}

//** Menus
// Top Nav
.top-nav {
    #site-navigation {
        .menu-main-menu-container ul {
            height: 90px;
            overflow: hidden;

            li {
                float: right;
                height: 90px;
                line-height: 90px;
                padding: 0 10px;
                margin: 0 1px;

                &:hover, &.current_page_item {
                    background-color: @top-menu-bg-color;
                }

                &:hover {
                    border-bottom: @top-menu-li-border-hover;
                }

                &.current_page_item, &.current_page_item:hover {
                    border-bottom: @top-menu-li-border-active;
                }

                a {
                    .top-menu-link-set();
                }

                &:after {
                    clear: both;
                }
            }
        }

        .menu-toggle {
            position: absolute;
            left: 0px;
            top: 20px;
            /* border: 1px solid red; */
            width: 60px;
            height: 60px;
            border-radius: 50%;
            -moz-background-clip: border-box;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            background: #000;
            color: #fff;
        }
    }
}
//menu toggle
