﻿/* theme elements*/
/*news strip*/
.news-strip {
    min-height: @news-strip-height;
    line-height: @news-strip-height;
    background-color: @news-strip-bg-color;
    clear: both;

    &.home {
        background-color: @news-strip-bg-color;

        button {
            background-color: @button-yellow-color;

            &:hover {
                background-color: @button-yellow-hover;
            }

            &:active {
                background-color: @button-yellow-active;
            }
        }
    }

    &.buy {
        button {
            background-color: @button-turquoise-color;


            &:hover {
                background-color: @button-turquoise-hover;
            }

            &:active {
                background-color: @button-turquoise-active;
            }
        }
    }

    .element-content {
        margin: auto;
    }

    .form-text-element-wrapper {
        float: right;
        width: 230px;
    }

    .form-input-wrapper {
        float: right;
        width: 170px;

        input {
            width: 100%;
            height: @news-strip-input-height;
            line-height: @news-strip-input-height;
            vertical-align: middle;
        }
    }

    button {
        background-color: @button-yellow-color;

        &:hover {
            background-color: @button-yellow-hover;
        }

        &:active {
            background-color: @button-yellow-active;
        }
    }

    &:after {
        clear: both;
    }
}

/* Form Strip*/
.form-strip {
    min-height: @form-strip-height;
    line-height: @form-strip-height;
    background-color: @form-strip-bg-color;

    .element-content {
        width: 925px;
        margin: auto;
    }

    .form-text-element-wrapper {
        float: right;
        width: 200px;
        line-height: 22px;

        h2 {
            font-size: 22px;
            margin: 0;
            padding: 20px 0 0 0;
            color: @white;
        }
    }

    .form-input-wrapper {
        float: right;

        input {
            width: 140px;
            height: @form-strip-input-height;
            line-height: @form-strip-input-height;
            vertical-align: middle;
            margin: 0 10px;
            border: @form-strip-border;
        }
    }

    button, input[type="submit"] {
        width: @form-strip-button-width;
        height: @form-strip-button-height;
        background-color: @button-yellow-color;

        &:hover {
            background-color: @button-yellow-hover;
        }

        &:active {
            background-color: @button-yellow-active;
        }
    }

    &:after {
        clear: both;
    }
}

/* top-hero*/
.top-hero {
    min-height: @top-hero-home-height;
    background-color: @top-hero-home-bg-color;

    .element-content {
        padding: 60px 0;
    }

    .hero-img {
        float: left;
    }

    .hero-text {
        p {
            font-size: @top-hero-p-font-size;
        }
    }

    a.readmore-link {
        color: @readmore-top-hero-color;
        text-decoration: underline;
    }

    &.home {
        background-color: @top-hero-home-bg-color;
    }

    &.buy {
        background-color: @top-hero-buy-bg-color;
    }

    h2 {
        font-size: @top-hero-h2-font-size;
        color: @top-hero-h2-color;
    }
}

/*small-heroes*/
.small-heroes {
    min-height: @small-heroes-height;
    background-color: @small-heroes-bg-color;

    .element-content {
        padding: 40px 0;
    }

    .s-hero-text {
        height: 210px;
        overflow: hidden;
    }

    .s-hero-img, .s-hero-text {
        text-align: center;
    }

    .s_hero hr {
        width: 132px;
        background-color: #000;
        margin: 15px auto;
    }

    .s_hero a.readmore-link {
        background-color: @readmore-s-heroes-bg;
        margin: 20px auto;
        padding: 5px 25px;
        text-align: center;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
        color: @readmore-s-heroes-color;
        border-radius: 5px;
        width: 140px;
        min-width: 140px;
        max-width: 180px;
        display: block;

        &:hover {
            background-color: @readmore-s-heroes-bg-hover;
        }

        &:active {
            background-color: @readmore-s-heroes-bg-active;
        }
    }

    h2, h3 {
        color: @s-heroes-h2-h3-color;
        margin: 10px;
        padding: 0;
        line-height: 1.1em;
    }

    h3 {
        font-size: @s-heroes-h3-size;
        font-weight: normal;
    }
}


/*Home page - About Content*/
.about-content {
    .element-content {
        padding: 30px 0;
    }

    .hm-about-img {
        width: 220px;
        height: 220px;
        background-color: @gray6;
        margin-top: 20px;
        margin: 50px auto;
        overflow: hidden;

        img {
        }
    }
}

.home-section.about-content {
    min-height: @home-about-content-height;
    background-color: @home-about-content-bg-color;

    h3 {
        font-size: @home-about-content-h3-font-size;
    }
}

// Home-section testimonials-content // Testimonials Page
.testimonials-content {
    .element-content {
        padding: 20px 0;
    }

    h3 {
        font-size: @testimonials-h3-font-size;
        color: @testimonials-h3-color;
        font-weight: normal;
        font-style: italic;
    }

    .testimonial-credit {
        font-weight: bold;
    }
}
.testimonials-content .testimonials-section-permalink,
.testimonial-item-permalink {
    text-align: left;
    color: @testimonials-section-link-color;
    font-weight: bold;
}

.testimonial-item {
    margin: 0;
    padding: 20px 0 30px 0;

    &:nth-child(odd) {
        background-color: @testimonial-item-bg-odd;
    }

    &:nth-child(even) {
        background-color: @testimonial-item-bg-even;
    }
}

.testi-img-wrapper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    border: @testi-img-border;
    border-radius: 50%;
}


.home-section.testimonials-content {
    min-height: @home-testimonials-height;
    background-color: @home-testimonials-bg-color;
}

//** Pages
/*page specific elements changes*/
.home-page {
    /*news strip*/
    .news-strip button {
        background-color: @button-yellow-color;

        &:hover {
            background-color: @button-yellow-hover;
        }

        &:active {
            background-color: @button-yellow-active;
        }
    }
    /* Form Strip*/
    .form-strip {
        background-color: @form-strip-bg-color;
    }
    /* top-hero*/
    .top-hero {
        background-color: @top-hero-home-bg-color;
    }
}

.buy-page {
    /*news strip*/
    .news-strip button {
        background-color: @button-turquoise-color;

        &:hover {
            background-color: @button-turquoise-hover;
        }

        &:active {
            background-color: @button-turquoise-active;
        }
    }
    /* Form Strip*/
    .form-strip {
        background-color: @form-strip-buy-bg-color;


        button, input[type="submit"] {
            background-color: @button-gray-color;

            &:hover {
                background-color: @button-gray-hover;
            }

            &:active {
                background-color: @button-gray-active;
            }
        }
    }
    /* top-hero*/
    .top-hero {
        background-color: @top-hero-buy-bg-color;
    }
}

.sell-page {
    /*news strip*/
    .news-strip button {
        background-color: @button-red-color;

        &:hover {
            background-color: @button-red-hover;
        }

        &:active {
            background-color: @button-red-active;
        }
    }
    /* Form Strip*/
    .form-strip {
        background-color: @form-strip-sell-bg-color;


        button, input[type="submit"] {
            background-color: @button-gray-color;

            &:hover {
                background-color: @button-gray-hover;
            }

            &:active {
                background-color: @button-gray-active;
            }
        }
    }
    /* top-hero*/
    .top-hero {
        background-color: @top-hero-sell-bg-color;
    }
}

.rent-page {
    /*news strip*/
    .news-strip button {
        background-color: @button-green-color;

        &:hover {
            background-color: @button-green-hover;
        }

        &:active {
            background-color: @button-green-active;
        }
    }
    /* Form Strip*/
    .form-strip {
        background-color: @form-strip-rent-bg-color;

        button, input[type="submit"] {
            background-color: @button-gray-color;

            &:hover {
                background-color: @button-gray-hover;
            }

            &:active {
                background-color: @button-gray-active;
            }
        }
    }
    /* top-hero*/
    .top-hero {
        background-color: @top-hero-rent-bg-color;
    }
}

.testimonials-page, .contact-page, .about-page {
    /*news strip*/
    .news-strip {
        background-color: @register-news-bg-alt;

        button {
            background-color: @button-yellow-color;

            &:hover {
                background-color: @button-yellow-hover;
            }

            &:active {
                background-color: @button-yellow-active;
            }
        }
    }
    /* Form Strip*/
    .form-strip {
        background-color: @form-strip-bg-color;
    }
    /* top-hero*/
    .top-hero {
        background-color: @top-hero-home-bg-color;
    }
}

//Short codes layouts
.short-main-content-text {
}

.short-side-content-text {
    font-size: @short-code-side-content-font-size;
    color: @short-code-side-content-font-color;
}

// Related-articles section
.page-section.related-articles {
    background-color: @related-articles-bg-color;
}

.related-content:nth-child(odd) {
    margin: 0 percentage((0.25 / @grid-columns));
}

.related-content:nth-child(even) {
    margin: 0 percentage((1 / @grid-columns));
}

.related-img {
    img {
        width: 100%;
        height: auto;
    }
}

.related-content h3 {
    font-size: @related-h3-permalink-font-size;
}

//Contact page
.contact-content .article-text {
    padding: 0 0 20px 0;
}

.contact-page .contact-form-element {
    padding: 40px 0;
    background-color: @contact-form-page-element-bg;

    .input-wrapper {
        margin: 0 0 20px 0;
    }

    label, input, textarea {
        display: block;
        width: 100%;
    }

    label {
        margin: 5px 0;
    }

    input, textarea {
        border: @cotact-page-element-inputs-border;
    }

    input {
        height: @cotact-page-element-inputs-height;
        line-height: @cotact-page-element-inputs-height;
    }

    textarea {
        height: @contact-page-element-textarea-height;
        min-height: @contact-page-element-textarea-height;
        padding: 10px;
        resize: vertical;
    }

    button, input[type="submit"] {
        width: @contact-page-element-button-width;
        height: @contact-page-element-button-height;
        line-height: @contact-page-element-button-height;
        background-color: @button-yellow-color;
        border: none;
        margin: 0;
        padding:0;
        &:hover {
            background-color: @button-yellow-hover;
        }

        &:active {
            background-color: @button-yellow-active;
        }
    }
}
