// Mashal Law Page Variables
// 0 Media Queries
// 1.0 Typography
// 2.0 Color Guide
// 3.0 Elements


//== 0 Media Queries
@screen-xs: 767px;
@screen-sm: 768px;
@screen-md: 1020px;
@screen-lg: 1200px;


@screen-xs-max: @screen-xs;
@screen-sm-min: @screen-sm;
@screen-md-min: @screen-md;
@screen-lg-min: @screen-lg;

//== 1.0 Typography==>
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif: 'Alef', Arial, sans-serif;
@font-family-sans-serif-bold: 'Alef-Bold', Arial, sans-serif;
@font-family-base: @font-family-sans-serif;
@font-size-base: 15px;

//Fonts Sizes:
//13px ==>footer links
//14px ==> forms strips, nav links
//15px ==> body baseline, p, hero readmore
//16px ==> footer h3,
//18px ==> top hero p, page leads, main-content h3
//22px h2, small heroes h2, small heroes h3 , testimonials section h3(home)
//30px ==> h1, h2 (mainly heroes) , about us section h3 (home)

@font-size12: 0.8em;
@font-size13: 0.867em;
@font-size14: 0.933em;
@font-size15: 1em;
@font-size16: 1.067em;
@font-size18: 1.2em;
@font-size22: 1.467em;
@font-size30: 2em;

//H1-H6 defaults
@font-size-h1: @font-size30;
@font-size-h2: @font-size22;
@font-size-h3: @font-size18;
@font-size-h4: @font-size16;
@font-size-h5: @font-size-base;
@font-size-h6: @font-size12;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family: inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1em;
@headings-color: inherit;

//Fonts colors resets
@base-color: @black;
@base-link-color: @blue1;

//**Fonts Sets
//set1 15px/20px (base font size)
@font-set1-size: 1em;
@font-set1-line: 1.333em;
@font-set1-color: @black;
//set2 14px/20px (nav links)
@font-set2-size: 0.934em;
@font-set2-line: 1.428em;
@font-set2-color: @black;


// ** 2.0  COLOR GUIDE

@white: #fff;
@black: #000;

//Yellows
@yellow1: #FBD639;
@yellow2: #FBDD50;
@yellow3: #D0B230;

//Greens
@green1: #7CCC72;
@green2: #91D589;
@green3: #67AA5F;

//Turquoise
@turquoise1: #44A5B7;
@turquoise2: #5EB4C3;
@turquoise3: #378998;
//Blues
@blue1: #668EBC;
@blue2: #89A9CE;
@blue3: #55769C;
//Reds
@red1: #D74C45;
@red2: #DD6B66;
@red3: #B33F3A;


//Grays
@gray1: #E6E6E6;
@gray2: #C4C4C4;
@gray3: #939393;
@gray4: #FCFAF7;
@gray5: #898989;
@gray6: #b3b3b3;
@gray7: #636363;
@gray8: #E8E8E8;
@gray9: #959595;
@gray10: #666666;
@gray11: #7d7d7d;

//Dark Gray
@dark-gray1: #40444C;


// ** 03 Elements
//Body
@body-bg: @white;

//Top Nav


//**Register Strip
//BG
@register-news-bg-default:;
@register-news-bg-alt: @blue1;


//top-hero
@top-hero-home-height: 365px;
@top-hero-h2-font-size: @font-size-h1;
@top-hero-h2-color: @white;

@top-hero-home-bg-color: @blue1;
@top-hero-buy-bg-color: @turquoise1;
@top-hero-sell-bg-color: @red1;
@top-hero-rent-bg-color: @green1;

@top-hero-p-font-size: 1.2em;

// Misc
@img-thumb-ph-bg: @gray5;


//**Inputs
@input-border: 1px solid @black;
@input-border-radius: 2px;


/* Transfered from Bootstrap*/
// TEMPS
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;
//** Horizontal line color.
@hr-border: #fff;


//header
@header-height: 90px;
@header-bg-color: @white;
@header-border: 1px solid @gray6;
//logo
@logo-width: 40px;
@logo-height: 40px;
@logo-title-h1-color: @dark-gray1;
@logo-title-h2-color: @dark-gray1;

//Footer
@gooter-min-height: 175px;
@footer-bg-color: @dark-gray1;

//news strip
@news-strip-height: 52px;
@news-strip-bg-color: @gray4;
@news-strip-input-height: 28px;

//Form Strip
@form-strip-border: 1px solid @gray9;
@form-strip-height: 80px;
@form-strip-input-height: 32px;
@form-strip-bg-color: @blue1;
@form-strip-buy-bg-color: @turquoise1;
@form-strip-sell-bg-color: @red1;
@form-strip-rent-bg-color: @green1;



//**Buttons
@button-yellow-color: @yellow1;
@button-yellow-hover: @yellow2;
@button-yellow-active: @yellow3;

@button-turquoise-color: @turquoise1;
@button-turquoise-hover: @turquoise2;
@button-turquoise-active: @turquoise3;

@button-green-color: @green1;
@button-green-hover: @green2;
@button-green-active: @green3;

@button-red-color: @red1;
@button-red-hover: @red2;
@button-red-active: @red3;

@button-blue-color: @blue1;
@button-blue-hover: @blue2;
@button-blue-active: @blue3;

@button-gray-color: @gray1;
@button-gray-hover: @gray2;
@button-gray-active: @gray3;

//**readmore link
//top hero
@readmore-top-hero-color: @white;
//s-heroes
@readmore-s-heroes-bg: @button-blue-color;
@readmore-s-heroes-bg-hover: @button-blue-hover;
@readmore-s-heroes-bg-active: @button-blue-active;
@readmore-s-heroes-color: @white;
//form button
@form-strip-button-width: 110px;
@form-strip-button-height: 32px;

//**Menus
// Top Menu
@top-menu-li-border-color-active: @gray7;
@top-menu-li-border-color-hover: @blue1;
@top-menu-link-color: @black;
@top-menu-link-decoration: none;

@top-menu-li-border-active: 5px solid @top-menu-li-border-color-active;
@top-menu-li-border-hover: 5px solid @top-menu-li-border-color-hover;

@top-menu-bg-color: @gray8;




//**Home Page
//Small Hero
@small-heroes-height: 450px;
@small-heroes-bg-color: @white;
@s-heroes-h3-size: @font-size-h2; //22px
@s-heroes-h2-h3-color: @gray10;


//Home- About content
@home-about-content-height: 270px;
@home-about-content-bg-color: @gray4;
@home-about-content-h3-font-size: @font-size-h1; //30px

// Home - Testimonials, Testimonials
@home-testimonials-height: 170px;
@home-testimonials-bg-color: @white;
@testimonials-h3-font-size: @font-size-h2; //22px;
@testimonials-h3-color: @gray10;
@testimonials-section-link-color: @blue1;
@testimonial-item-bg-odd: @gray4;
@testimonial-item-bg-even: @white;
@testi-img-border: 2px solid @blue1;
//**Pages

@contact-form-page-element-bg: @gray4;
@cotact-page-element-inputs-border: 1px solid @gray9;
@cotact-page-element-inputs-height: 32px;
@contact-page-element-textarea-height: 190px;
@contact-page-element-button-height: 30px;
@contact-page-element-button-width: 100%;

//Shortcodes layout
@short-code-side-content-font-size: @font-size18;
@short-code-side-content-font-color: @gray11;
//related articles
@related-articles-bg-color: @gray4;
@related-place-holder: @gray9;
@related-h3-permalink-font-size: @font-size-base;



//Helpers






//== Scaffolding ==>to be Edited
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg: #fff;
//** Global text color on `<body>`.
@text-color: #000;

//** Global textual link color.
@link-color: #000;
//** Link hover color set via `darken()` function.
@link-hover-color: darken(@link-color, 15%);


