/*
Theme Name: Mashal law
Theme URI: 
Author: Underscores.me
Author URI: 
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: 
Text Domain: mashal-law
Tags:

*/
/*
Underscore for WordPress Legacy Styles.    
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
---1.0 Reset-- Omitted
2.0 Typography
3.0 Elements
4.0 Forms
5.0 Navigation
	5.1 Links
	5.2 Menus
6.0 Accessibility
7.0 Alignments
8.0 Clearings
9.0 Widgets
10.0 Content
	10.1 Posts and pages
	10.2 Asides
	10.3 Comments
11.0 Infinite scroll
12.0 Media
	12.1 Captions
	12.2 Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
p {
  margin-bottom: 1.5em;
}
b,
strong {
  font-weight: bold;
}
dfn,
cite,
em,
i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul,
ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%;
}
/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus,
a:active {
  color: midnightblue;
}
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul {
  left: auto;
}
.main-navigation ul ul li:hover > ul {
  left: 100%;
}
/* Small menu */
/*.menu-toggle {
	display: none;
}*/
@media screen and (max-width: 990px) {
  /*.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}*/
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}
/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
}
/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
/* Search widget */
.widget_search .search-submit {
  display: none;
}
/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.byline,
.updated:not(.published) {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}
/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
/* =Theme customization starts here
--------------------------------------------------------------
*/
/* Custom Theme Variables initiation*/
/* Transfered from Bootstrap*/
/* Base line Bootstap Framefork with selected elements only : Grid , Responsive utilities */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Alef', Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #ffffff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: right;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666666666666%;
}
.col-xs-10 {
  width: 83.33333333333334%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666666666666%;
}
.col-xs-7 {
  width: 58.333333333333336%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666666666667%;
}
.col-xs-4 {
  width: 33.33333333333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.666666666666664%;
}
.col-xs-1 {
  width: 8.333333333333332%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666666666666%;
}
.col-xs-pull-10 {
  right: 83.33333333333334%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666666666666%;
}
.col-xs-pull-7 {
  right: 58.333333333333336%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666666666667%;
}
.col-xs-pull-4 {
  right: 33.33333333333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.666666666666664%;
}
.col-xs-pull-1 {
  right: 8.333333333333332%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666666666666%;
}
.col-xs-push-10 {
  left: 83.33333333333334%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666666666666%;
}
.col-xs-push-7 {
  left: 58.333333333333336%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666666666667%;
}
.col-xs-push-4 {
  left: 33.33333333333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.666666666666664%;
}
.col-xs-push-1 {
  left: 8.333333333333332%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666666666666%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666666666666%;
}
.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}
.col-xs-offset-1 {
  margin-left: 8.333333333333332%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #000000;
}
.thumbnail .caption {
  padding: 9px;
  color: #000000;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* Boostrap Ends*/
/**/
/**/
@font-face {
  font-family: "Alef";
  src: url("fonts/Alef-Regular.eot");
  src: url("fonts/Alef-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Alef-Regular.woff") format("woff"), url("fonts/Alef-Regular.ttf") format("truetype"), url("fonts/Alef-Regular.svg#Alef") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*div {
    border: 1px dotted #ccc;
}*/
body {
  font-family: 'Alef', Arial, sans-serif;
  direction: rtl;
  text-align: right;
}
body input {
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 0 4px;
  color: #898989;
}
body a,
body a:hover,
body a:visited,
body a:active {
  text-decoration: none;
  cursor: pointer !important;
  color: #668ebc;
}
body button,
body input[type="submit"] {
  border: none;
  height: 30px;
  width: 90px;
  background-color: transparent;
  font-size: 1em;
  margin: 0 1em;
  vertical-align: middle;
  text-shadow: none;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button:hover,
body input[type="submit"]:hover {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button.active,
body input[type="submit"].active {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body button:hover,
body input[type="submit"]:hover,
body button.active,
body input[type="submit"].active {
  text-shadow: none;
}
body input,
body button,
body textarea {
  outline: none;
}
body ul {
  list-style-type: none;
  margin: 0;
  padding: 0 30px 0 0;
}
body ul:after {
  clear: both;
}
body ul li {
  list-style-type: none;
}
body h1 {
  font-size: 2em;
}
body h2 {
  font-size: 1.467em;
}
body h3 {
  font-size: 1.2em;
}
body h4 {
  font-size: 1.067em;
}
body h5 {
  font-size: 15px;
}
body h6 {
  font-size: 0.8em;
}
body .empty-screen {
  min-height: 500px;
}
.site-header {
  position: relative;
}
header {
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #b3b3b3;
}
footer {
  min-height: 175px;
  background-color: #40444c;
  color: #c4c4c4;
  font-size: 0.933em;
}
footer .footer-title {
  font-weight: bold;
}
footer .copyright {
  font-size: 1em;
}
footer .copyright p {
  margin: 10px 0;
}
footer a {
  color: #c4c4c4 !important;
}
footer a:hover {
  text-decoration: underline;
}
.logo-wrapper {
  padding: 10px 0;
}
.logo-wrapper .logo {
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 10px;
}
.logo-wrapper .site-branding {
  float: right;
}
.logo-wrapper .site-branding h1.site-title,
.logo-wrapper .site-branding h2.site-title {
  font-size: 20px;
  margin: 8px 0 0 0;
}
.logo-wrapper .site-branding h1.site-title a,
.logo-wrapper .site-branding h2.site-title a,
.logo-wrapper .site-branding h1.site-title:hover,
.logo-wrapper .site-branding h2.site-title:hover,
.logo-wrapper .site-branding h1.site-title:visited,
.logo-wrapper .site-branding h2.site-title:visited {
  color: #40444c;
}
.logo-wrapper .site-branding h2.site-title {
  font-weight: bold;
}
.logo-wrapper .site-branding h2 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}
.logo-wrapper .site-branding h2 a,
.logo-wrapper .site-branding h2:hover,
.logo-wrapper .site-branding h2:visited {
  color: #40444c;
}
.top-nav #site-navigation .menu-main-menu-container ul {
  height: 90px;
  overflow: hidden;
}
.top-nav #site-navigation .menu-main-menu-container ul li {
  float: right;
  height: 90px;
  line-height: 90px;
  padding: 0 10px;
  margin: 0 1px;
}
.top-nav #site-navigation .menu-main-menu-container ul li:hover,
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item,
.top-nav #site-navigation .menu-main-menu-container ul li.current-menu-item {
  background-color: #e8e8e8;
}
.top-nav #site-navigation .menu-main-menu-container ul li:hover {
  border-bottom: 5px solid #668ebc;
}
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item,
.top-nav #site-navigation .menu-main-menu-container ul li.current_page_item:hover,
.top-nav #site-navigation .menu-main-menu-container ul li.current-menu-item,
.top-nav #site-navigation .menu-main-menu-container ul li.current-menu-item:hover {
  border-bottom: 5px solid #636363;
}
.top-nav #site-navigation .menu-main-menu-container ul li a {
  color: #000000;
  text-decoration: none;
}
.top-nav #site-navigation .menu-main-menu-container ul li:after {
  clear: both;
}
.top-nav #site-navigation .menu-toggle {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background-image: url("images/mobile-menu-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
*.menu-toggle {
  display: none;
}
a.skip-link.screen-reader-text {
  display: none !important;
}
/* theme elements*/
/*news strip*/
.news-strip {
  min-height: 52px;
  line-height: 52px;
  background-color: #fcfaf7;
  clear: both;
}
.news-strip.home {
  background-color: #fcfaf7;
}
.news-strip.home button,
.news-strip.home input[type="submit"] {
  background-color: #fbd639;
}
.news-strip.home button:hover,
.news-strip.home input[type="submit"]:hover {
  background-color: #fbdd50;
}
.news-strip.home button:active,
.news-strip.home input[type="submit"]:active {
  background-color: #d0b230;
}
.news-strip.buy button,
.news-strip.buy input[type="submit"] {
  background-color: #44a5b7;
}
.news-strip.buy button:hover,
.news-strip.buy input[type="submit"]:hover {
  background-color: #5eb4c3;
}
.news-strip.buy button:active,
.news-strip.buy input[type="submit"]:active {
  background-color: #378998;
}
.news-strip .element-content {
  margin: auto;
}
.news-strip .form-control-wrap {
  display: inline-block;
}
.news-strip .form-text-element-wrapper {
  float: right;
  width: 230px;
}
.news-strip .form-input-wrapper {
  float: right;
}
.news-strip .form-input-wrapper input {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
}
.news-strip button,
.news-strip input[type="submit"] {
  background-color: #fbd639;
}
.news-strip button:hover,
.news-strip input[type="submit"]:hover {
  background-color: #fbdd50;
}
.news-strip button:active,
.news-strip input[type="submit"]:active {
  background-color: #d0b230;
}
.news-strip:after {
  clear: both;
}
/* Form Strip*/
.form-strip {
  min-height: 80px;
  line-height: 80px;
  background-color: #668ebc;
}
.form-strip .element-content {
  width: 955px;
  margin: auto;
}
.form-strip .form-text-element-wrapper {
  float: right;
  width: 200px;
  line-height: 22px;
}
.form-strip .form-text-element-wrapper h2 {
  font-size: 18px;
  margin: 0;
  padding: 20px 0 0 0;
  color: #ffffff;
}
.form-strip .form-input-wrapper {
  float: right;
}
.form-strip .form-input-wrapper input {
  width: 140px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: 0 10px;
  border: 1px solid #959595;
}
.form-strip button,
.form-strip input[type="submit"] {
  width: 110px;
  height: 32px;
  background-color: #fbd639;
}
.form-strip button:hover,
.form-strip input[type="submit"]:hover {
  background-color: #fbdd50;
}
.form-strip button:active,
.form-strip input[type="submit"]:active {
  background-color: #d0b230;
}
.form-strip:after {
  clear: both;
}
/* top-hero*/
.top-hero {
  min-height: 365px;
  background-color: #668ebc;
}
.top-hero .element-content {
  padding: 60px 0;
}
.top-hero .hero-img {
  float: left;
}
.top-hero .hero-text p {
  font-size: 1.2em;
}
.top-hero a.readmore-link {
  color: #ffffff;
  text-decoration: underline;
}
.top-hero.home {
  background-color: #668ebc;
}
.top-hero.buy {
  background-color: #44a5b7;
}
.top-hero h2 {
  font-size: 2em;
  color: #ffffff;
}
/*small-heroes*/
.small-heroes {
  min-height: 450px;
  background-color: #ffffff;
}
.small-heroes .element-content {
  padding: 40px 0;
}
.small-heroes .s-hero-text {
  height: 210px;
  overflow: hidden;
}
.small-heroes .s-hero-img,
.small-heroes .s-hero-text {
  text-align: center;
}
.small-heroes .s_hero hr {
  width: 132px;
  background-color: #000;
  margin: 15px auto;
}
.small-heroes .s_hero a.readmore-link {
  background-color: #668ebc;
  margin: 20px auto;
  padding: 5px 25px;
  text-align: center;
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 140px;
  min-width: 140px;
  max-width: 180px;
  display: block;
}
.small-heroes .s_hero a.readmore-link:hover {
  background-color: #89a9ce;
}
.small-heroes .s_hero a.readmore-link:active {
  background-color: #55769c;
}
.small-heroes h2,
.small-heroes h3 {
  color: #666666;
  margin: 10px;
  padding: 0;
  line-height: 1.1em;
}
.small-heroes h3 {
  font-size: 1.467em;
  font-weight: normal;
}
/*Home page - About Content*/
.about-content .element-content {
  padding: 30px 0;
}
.about-content .hm-about-img {
  width: 220px;
  height: 220px;
  background-color: #b3b3b3;
  margin-top: 20px;
  margin: 20px auto;
  overflow: hidden;
  -moz-border-radius: 8px 8px;
  -webkit-border-radius: 8px 8px;
  border-radius: 8px 8px;
}
.home-section.about-content {
  min-height: 270px;
  background-color: #fcfaf7;
}
.home-section.about-content h3 {
  font-size: 2em;
}
.about-content-text {
  padding: 20px 0;
}
.testimonials-content .element-content {
  padding: 20px 0;
}
.testimonials-content h3 {
  font-size: 1.467em;
  color: #666666;
  font-weight: normal;
  font-style: italic;
}
.testimonials-content .testimonial-credit {
  font-weight: bold;
}
.testimonials-content .testimonials-section-permalink,
.testimonial-item-permalink {
  text-align: left;
  color: #668ebc;
  font-weight: bold;
}
.testimonial-item {
  margin: 0;
  padding: 20px 0 30px 0;
}
.testimonial-item:nth-child(odd) {
  background-color: #fcfaf7;
}
.testimonial-item:nth-child(even) {
  background-color: #ffffff;
}
.testi-img-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 2px solid #668ebc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.home-section.testimonials-content {
  min-height: 170px;
  background-color: #ffffff;
}
/*page specific elements changes*/
.home-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.home-page .news-strip button {
  background-color: #fbd639;
}
.home-page .news-strip button:hover {
  background-color: #fbdd50;
}
.home-page .news-strip button:active {
  background-color: #d0b230;
}
.home-page .form-strip {
  background-color: #668ebc;
}
.home-page .top-hero {
  background-color: #668ebc;
}
.buy-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.buy-page .news-strip button {
  background-color: #44a5b7;
}
.buy-page .news-strip button:hover {
  background-color: #5eb4c3;
}
.buy-page .news-strip button:active {
  background-color: #378998;
}
.buy-page .form-strip {
  background-color: #44a5b7;
}
.buy-page .form-strip button,
.buy-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.buy-page .form-strip button:hover,
.buy-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.buy-page .form-strip button:active,
.buy-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.buy-page .top-hero {
  background-color: #44a5b7;
}
.sell-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.sell-page .news-strip button {
  background-color: #d74c45;
}
.sell-page .news-strip button:hover {
  background-color: #dd6b66;
}
.sell-page .news-strip button:active {
  background-color: #b33f3a;
}
.sell-page .form-strip {
  background-color: #d74c45;
}
.sell-page .form-strip button,
.sell-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.sell-page .form-strip button:hover,
.sell-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.sell-page .form-strip button:active,
.sell-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.sell-page .top-hero {
  background-color: #d74c45;
}
.rent-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.rent-page .news-strip button {
  background-color: #7ccc72;
}
.rent-page .news-strip button:hover {
  background-color: #91d589;
}
.rent-page .news-strip button:active {
  background-color: #67aa5f;
}
.rent-page .form-strip {
  background-color: #7ccc72;
}
.rent-page .form-strip button,
.rent-page .form-strip input[type="submit"] {
  background-color: #e6e6e6;
}
.rent-page .form-strip button:hover,
.rent-page .form-strip input[type="submit"]:hover {
  background-color: #c4c4c4;
}
.rent-page .form-strip button:active,
.rent-page .form-strip input[type="submit"]:active {
  background-color: #939393;
}
.rent-page .top-hero {
  background-color: #7ccc72;
}
.testimonials-page,
.contact-page,
.about-page {
  /*news strip*/
  /* Form Strip*/
  /* top-hero*/
}
.testimonials-page .news-strip,
.contact-page .news-strip,
.about-page .news-strip {
  background-color: #668ebc;
}
.testimonials-page .news-strip button,
.contact-page .news-strip button,
.about-page .news-strip button {
  background-color: #fbd639;
}
.testimonials-page .news-strip button:hover,
.contact-page .news-strip button:hover,
.about-page .news-strip button:hover {
  background-color: #fbdd50;
}
.testimonials-page .news-strip button:active,
.contact-page .news-strip button:active,
.about-page .news-strip button:active {
  background-color: #d0b230;
}
.testimonials-page .form-strip,
.contact-page .form-strip,
.about-page .form-strip {
  background-color: #668ebc;
}
.testimonials-page .top-hero,
.contact-page .top-hero,
.about-page .top-hero {
  background-color: #668ebc;
}
.article-content .article-text .row h2,
.article-content .article-text .row h3 {
  padding: 0 15px;
}
.short-side-content-text {
  font-size: 1.2em;
  color: #7d7d7d;
}
.page-section.related-articles {
  background-color: #fcfaf7;
}
.related-content:nth-child(odd) {
  margin: 0 2.083333333333333%;
}
.related-content:nth-child(even) {
  margin: 0 8.333333333333332%;
}
.related-img {
  width: 100%;
  margin: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.related-img img {
  width: auto;
  height: 255px;
}
.related-content h3 {
  font-size: 15px;
}
.contact-content .article-text {
  padding: 0 0 20px 0;
}
.contact-page .contact-form-element {
  padding: 40px 0;
  background-color: #fcfaf7;
}
.contact-page .contact-form-element .input-wrapper {
  margin: 0 0 20px 0;
}
.contact-page .contact-form-element label,
.contact-page .contact-form-element input,
.contact-page .contact-form-element textarea {
  display: block;
  width: 100%;
}
.contact-page .contact-form-element label {
  margin: 5px 0;
}
.contact-page .contact-form-element input,
.contact-page .contact-form-element textarea {
  border: 1px solid #959595;
}
.contact-page .contact-form-element input {
  height: 32px;
  line-height: 32px;
}
.contact-page .contact-form-element textarea {
  height: 190px;
  min-height: 190px;
  padding: 10px;
  resize: vertical;
}
.contact-page .contact-form-element button,
.contact-page .contact-form-element input[type="submit"] {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #fbd639;
  border: none;
  margin: 0;
  padding: 0;
}
.contact-page .contact-form-element button:hover,
.contact-page .contact-form-element input[type="submit"]:hover {
  background-color: #fbdd50;
}
.contact-page .contact-form-element button:active,
.contact-page .contact-form-element input[type="submit"]:active {
  background-color: #d0b230;
}
.social-icons {
  background-image: url('images/social-sprite.png');
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 20px 10px;
}
.social-icons.fb {
  background-position: 0px 0px;
}
.social-icons.fb:hover {
  background-position: 0px -30px;
}
.social-icons.fb:active {
  background-position: 0px -60px;
}
.social-icons.in {
  background-position: 60px 0px;
}
.social-icons.in:hover {
  background-position: 60px -30px;
}
.social-icons.in:active {
  background-position: 60px -60px;
}
.social-icons.tw {
  background-position: 30px 0px;
}
.social-icons.tw:hover {
  background-position: 30px -30px;
}
.social-icons.tw:active {
  background-position: 30px -60px;
}
.blogpost-content .hot-topic {
  color: #e65925;
  background: url('images/hot-topic.png') no-repeat scroll 100% 0% transparent;
  font-weight: bold;
  padding-right: 25px;
}
.blogpost-content h2 {
  margin: 5px 0;
}
.blogpost-content .post-date {
  color: #636363;
  font-size: 0.8em;
}
.blogpost-content .short-main-content-text br {
  display: block !important;
  margin: 10px;
}
.blogpost-content .image-container {
  text-align: center;
  margin: 10px 0;
}
.blogpost-content .groups-title h2 {
  color: #668ebc;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 5px;
}
.blogpost-content .groups-container {
  margin-bottom: 30px;
}
.blogpost-content .groups-container div {
  color: #668ebc;
  padding-right: 20px;
}
.blogpost-content .groups-container .ticked {
  font-weight: bold;
  background: url('images/tick-icon.png') no-repeat scroll 100% 50% transparent;
}
.blogpost-content .form-container {
  color: #ffffff;
  background-color: #4b5968;
  padding: 0 20px 20px 20px;
}
.blogpost-content .form-container .element-content {
  padding: 0 15px;
}
.blogpost-content .form-container .element-content .form-input-wrapper {
  padding: 10px 0;
}
.blogpost-content .form-container .element-content input[type="text"],
.blogpost-content .form-container .element-content input[type="email"],
.blogpost-content .form-container .element-content input[type="url"],
.blogpost-content .form-container .element-content input[type="password"],
.blogpost-content .form-container .element-content input[type="search"],
.blogpost-content .form-container .element-content input[type="tel"] {
  width: 100%;
}
.blogpost-content .form-container .element-content input[type="checkbox"] {
  vertical-align: middle;
}
.blogpost-content .form-container .element-content input[type="submit"] {
  width: 100%;
  margin: 0;
  background-color: #fbd639;
}
.blogpost-content .form-container .element-content input[type="submit"]:hover {
  background-color: #fbdd50;
}
.blogpost-content .form-container .element-content input[type="submit"]:active {
  background-color: #d0b230;
}
.blogpost-content .form-container .element-content a {
  color: #ffffff;
  text-decoration: underline;
}
.blog-page .top-hero .hero-img img {
  border: 1px solid #ffffff;
  max-width: 380px;
  max-height: 260px;
}
.blog-page .hot-topic {
  display: inline-block;
  color: #fbd639;
  background: url('images/hot-icon.png') no-repeat scroll 100% 0% transparent;
  padding-right: 30px;
}
.blog-page .post-date {
  font-size: 0.8em;
}
.blog-page .thumb-img {
  max-width: 200px;
  max-height: 140px;
}
.blog-page .col-lg-8 h2 {
  color: #a5a5a5;
}
.blog-page .blog-container {
  margin: 20px 0;
}
.blog-page .blog-container .post-date {
  color: #a5a5a5;
  font-size: 0.867em;
}
.blog-page .article-post {
  padding: 15px 0;
  position: relative;
  background-color: #e6e6e6;
}
.blog-page .article-post h2 {
  color: #000000;
}
.blog-page .article-post.hotbox {
  border: 1px solid #fbd639;
}
.blog-page .article-post.hotbox .hotindicator {
  width: 130px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 55px;
  color: black;
  font-size: 0.867em;
  font-weight: bold;
  background: url('images/hot-small-icon.png') no-repeat scroll 85px 50% #fbd639;
  z-index: 1 !important;
}
span.wpcf7-not-valid-tip {
  line-height: 10px;
}
img.ajax-loader {
  display: none;
}
.check-items-list {
  margin-top: 10px;
}
.check-items-list > li {
  list-style-type: disc !important;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .top-nav {
    width: 100%;
    float: none;
    padding: 0;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container {
    margin-top: 10px;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul {
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 999;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li {
    float: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 1px;
    display: block;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item {
    background-color: #e8e8e8;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover {
    border-bottom: 5px solid #668ebc;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item:hover,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item:hover {
    border-bottom: 5px solid #636363;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li a {
    color: #000000;
    text-decoration: none;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:after {
    clear: both;
  }
  /*toggle*/
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }
  .main-navigation ul {
    display: none;
  }
  .news-strip .element-content {
    padding-bottom: 10px;
    line-height: 32px;
  }
  .news-strip .form-text-element-wrapper {
    float: none;
    display: block;
    width: 100% !important;
  }
  .news-strip button,
  .news-strip input[type="submit"] {
    width: 100%;
    display: block;
    margin: auto;
  }
  .news-strip .form-input-wrapper {
    width: 100%;
  }
  .news-strip .form-input-wrapper input {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    width: 100%;
    margin: 10px auto;
  }
  .form-strip .element-content {
    width: 100%;
    margin: auto;
  }
  .form-strip .form-text-element-wrapper {
    float: none;
    width: 100%;
  }
  .form-strip .form-input-wrapper {
    float: none;
    line-height: 35px;
  }
  .form-strip .form-input-wrapper label {
    display: block;
    width: 100%;
  }
  .form-strip .form-input-wrapper input {
    width: 100%;
    display: block;
    margin: auto;
  }
  .form-strip button,
  .form-strip input[type="submit"] {
    width: 100%;
    margin: auto;
  }
  .top-hero .hero-img {
    float: none;
    text-align: center;
  }
  .top-hero .hero-text {
    float: none;
  }
  .small-heroes .s-hero-text {
    height: auto;
  }
  .small-heroes .s_hero a.readmore-link {
    margin-bottom: 60px;
  }
  .related-content:nth-child(odd) {
    margin: 0;
  }
  .related-content:nth-child(even) {
    margin: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 959px) {
  .top-nav {
    width: 100%;
    float: none;
    padding: 0;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container {
    margin-top: 10px;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul {
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 999;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li {
    float: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 1px;
    display: block;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item {
    background-color: #e8e8e8;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:hover {
    border-bottom: 5px solid #668ebc;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current_page_item:hover,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item,
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li.current-menu-item:hover {
    border-bottom: 5px solid #636363;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li a {
    color: #000000;
    text-decoration: none;
  }
  .top-nav #site-navigation.toggled .menu-main-menu-container ul li:after {
    clear: both;
  }
  .form-strip .element-content {
    width: 100%;
    margin: auto;
  }
  .form-strip .form-text-element-wrapper {
    float: none;
    width: 100%;
  }
  .form-strip .form-input-wrapper {
    float: none;
    line-height: 40px;
  }
  .form-strip .form-input-wrapper label {
    display: inline;
    zoom: 1;
    display: inline-block;
    width: 100%;
  }
  .form-strip .form-input-wrapper input {
    width: 100%;
    display: block;
    margin: auto;
  }
  .form-strip button {
    width: 100%;
    display: block;
    margin: auto;
  }
  .form-strip input[type="submit"] {
    width: 100%;
    margin: auto;
  }
  .top-hero .hero-img {
    float: none;
    text-align: center;
  }
  .top-hero .hero-text {
    float: none;
  }
  .small-heroes .s-hero-text {
    height: auto;
  }
  .small-heroes .s_hero a.readmore-link {
    margin-bottom: 60px;
  }
  .page-section.related-articles {
    background-color: #fcfaf7;
  }
  .related-content:nth-child(odd) {
    margin: 0 2.083333333333333%;
  }
  .related-img {
    width: 200px;
    margin: auto;
    height: 120px;
    overflow: hidden;
    text-align: center;
  }
  .related-img img {
    width: 100%;
    height: auto;
  }
  /*toggle*/
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }
  .main-navigation ul {
    display: none;
  }
}
/* Medium devices (desktops, 1020px and up) */
@media (min-width: 960px) {
  .news-strip .element-content {
    width: 530px;
    margin: auto;
  }
  .news-strip button {
    float: none;
  }
  .related-img {
    width: 200px;
    margin: auto;
    height: 120px;
    overflow: hidden;
    text-align: center;
  }
  .related-img img {
    width: 100%;
    height: auto;
  }
  .copyright {
    margin: 30px 0;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .logo {
    width: 240px;
  }
  .top-nav {
    width: 680px;
  }
  .news-strip .element-content {
    width: 530px;
    margin: auto;
  }
  .news-strip button {
    float: none;
  }
  .related-img {
    width: 200px;
    margin: auto;
    height: 120px;
    overflow: hidden;
    text-align: center;
  }
  .related-img img {
    width: 100%;
    height: auto;
  }
}
